* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body,
html {
    height: 100%;
    width: 100%;
}

aside {
    display: none;
}

#first-page {
    display: block;
    padding-left: 250px;
    padding-right: 250px;
    padding-top: 20px;
    input {
        font-size: 19px;
        display: block;
    }
}

#game {
    display: none;
}

h1, h2, h3, h4, h5, h6, input, p {
    font-family: Helvetica, "Century Gothic", sans-serif;
    font-weight: 100;
    margin-bottom: 15px;
}

#googleMap {
    width: 100%;
    height: 100%;
}
