@import './partials/_reset.scss';

#first-page {
    display: block;
    width: 100px;
    input {
        font-size: 19px;
        display: block;
    }
    aside {
        display: none;
    }
}

#game {
//    display: none;
    height: 500px;
    width: 500px;
}

#waitScreen{
    display: none;
    input {
        display: block;
    }
}

#googleMap {
    width: 100%;
    height: 100%;
}
